SECRET=HERE_YOUR_SECRET_CODE
BASE_PATH=https://360healthyzone.up.railway.app
NEXT_PUBLIC_BASE_PATH=https://360healthyzone.up.railway.app
NEXT_PUBLIC_BASE_BUCKET_URL=https://storage.googleapis.com
NEXT_PUBLIC_BUCKET_FOLDER_GIFS=/avance-clientes/exercises-imgs