SECRET=HERE_YOUR_SECRET_CODE // used for encryptation
BASE_PATH=http://localhost:8080 // url used on requests to the backend
BASE_BUCKET_URL=https://storage.googleapis.com // url used on requests to the bucket
MOCK=true //or false